/*CSS DOCUMENT*/
*, html {
margin:0;
padding:0; 
}
body {
background-color: rgb(200,192,167);
color: rgb(55, 30, 26);
}
a {
color: rgb(55, 30, 26);
text-decoration: none;
}
a:hover{
color: rgb(38, 127, 17);
}
.container{
margin-left: 1em;
margin-bottom: 2em;
margin-top: 2em;
margin-right:1em;
}
h1 {
font-size: 2em;
margin-bottom: 0.5em;
line-height: 1.2em;
}
h2 {
font-size: 1.5em;
margin-bottom: 0.5em;
line-height: 1.2em;
}
h3 {
font-size: 1.25em;
margin-bottom: 0.5em;
margin-top: 0.5em;
line-height: 1.2em;
}
h4 {
font-size: 1em;
margin-bottom: 0.5em;
margin-top: 0.5em;
line-height: 1.2em;
}
p {
font-size: 1em;
margin-bottom: 0.5em;
margin-top: 0.75em;
line-height: 1.2em;
}
li{
list-style: none;
}
.logo img {
display: block;
width: 40%;
margin-left: auto;
margin-right: auto;
max-width: 20em;
}
.food img{
display: block;
width: 80%;
margin-left: auto;
margin-right: auto;
max-width: 100em; 
}
.mainmenu {
display: table;
margin: 0 auto;
margin-top: 0.5em;
text-align: center;
}
.mainmenu li{
margin: 0 auto;
display: inline;
list-style-type: none;
text-decoration: none;
font-size: 2em;
margin-right: 0.75em;
}
header{
clear: both;
float:none;
font-size:1.3em;
text-align: center;
line-height: 1.2em;
}
.title h1{
font-size: 2.25em;
margin-top: 0.5em;
margin-bottom: 0.25em;
}
.title h2{
font-size: 1.75em;
color: rgb(140, 122, 108);
}
.pagetitle{
text-align: center;
margin:auto;
}
.pagetitle h1{
margin-top: 1.3em;
}
.pagetitle h2{
margin-left: 2.5em;
margin-right: 2.5em;
}
.foodtitles h3{
color: rgb(140, 122, 108);
}
.firstfoodtitles h2{
margin-top: 1.5em;
}
.foodtitles h2{
margin-top: 3em;
}
.container h4{
margin-top: 2em;
}
.subfoodtitles{
margin-top: 2.5em;
color: rgb(140, 122, 108);
}
.location p{
margin-bottom: 0.25em;
margin-top: 0em;
}