/*CSS DOCUMENT*/
*, html {
margin:0;
padding:0; 
}
body {
background-color: rgb(255);
color: rgb(0);
}
a {
color: rgb(39, 105, 14);
text-decoration: none;
}
a:hover{
color: rgb(122, 168, 104);
}
.container{
margin-left: 1em;
margin-bottom: 2em;
margin-top: 2em;
margin-right:1em;
}
h1 {
font-size: 2em;
margin-bottom: 0.5em;
line-height: 1.2em;
}
h2 {
font-size: 1.5em;
margin-bottom: 0.5em;
line-height: 1.2em;
}
h3 {
font-size: 1.25em;
margin-bottom: 0.5em;
margin-top: 0.5em;
line-height: 1.2em;
}
h4 {
font-size: 1em;
margin-bottom: 0.5em;
margin-top: 0.5em;
line-height: 1.2em;
}
p {
font-size: 1em;
margin-bottom: 0.5em;
margin-top: 0.75em;
line-height: 1.2em;
max-width: 26em;
}
li{
list-style: none;
}
.logo img {
display: block;
width: 40%;
margin-left: auto;
margin-right: auto;
max-width: 17em;
}
.food img{
display: block;
width: 80%;
margin-left: auto;
margin-right: auto;
max-width: 30em; 
}
.mainmenu {
display: table;
margin: 0 auto;
margin-top: 0.5em;
text-align: center;
}
.mainmenu li{
margin: 0 auto;
display: inline;
list-style-type: none;
text-decoration: none;
font-size: 1.2em;
margin-right: 0.75em;
}
header{
clear: both;
float:none;
font-size:1.3em;
text-align: center;
line-height: 1.2em;
}
.title h1{
font-size: 2.25em;
margin-top: 0.5em;
margin-bottom: 0.25em;
color: rgb(39, 105, 14);
}
.title h2{
font-size: 1.75em;
color: rgb(122, 168, 104);
}
.pagetitle{
text-align: center;
margin:auto;
}
.pagetitle h1{
margin-top: 1.3em;
}
.pagetitle h2{
margin-left: 2.5em;
margin-right: 2.5em;
}
.foodtitles h3{
color: rgb(122, 168, 104);
max-width: 26em;
}
.firstfoodtitles h2{
margin-top: 1em;
color: rgb(39, 105, 14);
}
.foodtitles h2{
color: rgb(39, 105, 14);
max-width: 15em;
}
.container h4{
margin-top: 2em;
}
.subfoodtitles{
margin-top: 2.5em;
color: rgb(122, 168, 104);
}
.location h3{
color: rgb(39, 105, 14);
text-align: center;
}
.location p{
margin: auto;
margin-bottom: 0.25em;
margin-top: 0em;
text-align: center;
}
.attribution{
text-align: right;
margin-top: 3em;
}
.attributionhome{
text-align: right;
margin-top: 3em;
margin-bottom: 2em;
margin-right:1em;
margin-left:1em;
}
.menupic img{
width: 75%;
margin-top: 5em;
max-width: 30em;
}
.contacttitles h2{
color: rgb(39, 105, 14);
margin-top: 2em;
}
.contacttitles h3{
color: rgb(122, 168, 104);
}
.firstmenupic img{
width: 75%;
max-width: 30em;
margin-top: 1.5em;
}
@media only screen and (min-width: 40em){
.container{
margin-left: 6em;
margin-right: 6em;
}
} 
@media only screen and (min-width: 55em){
.container{
margin-left: 15em;
margin-right:15em;
}
} 
@media only screen and (min-width: 70em){
.container{
margin-left: 22em;
margin-right:22em;
}
} 
@media only screen and (min-width: 80em){
.container{
margin-left: 30em;
margin-right:30em;
}
} 
@media only screen and (min-width: 100em){
.container{
margin-left: 40em;
margin-right:40em;
}
} 